<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz5_deRM6tSC2J5karvjflwRdx_RCuMLg</string>
	<key>GCM_SENDER_ID</key>
	<string>582573084414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationFlutterFirebaseCrudByKkk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authentication-156e5</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-156e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582573084414:ios:1fe35ba0b4e4b4d79ddfaf</string>
</dict>
</plist>